
*.xccheckout

*.xcindexdb

*.xcindexdb-shm

*.o

*.d

*.xcindexdb-wal

*.xcactivitylog

*.strings-dir

*.db

*.idx

*.hmap

*.dat

*.LinkFileList

*.dia

*.db

DerivedData/Build/Intermediates/BrainControlledRobotTest.build/Debug/BrainControlledRobotTest.build/dgph
